In [115]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [117]:
df = pd.read_csv('/content/drive/My Drive/dataset/train.csv')
df.head()

   v.id  on road old  on road now  years  ...  top speed  hp  torque  current price
0     1       535651       798186      3  ...        177  73     123       351318.0
1     2       591911       861056      6  ...        148  74      95       285001.5
2     3       686990       770762      2  ...        181  53      97       215386.0
3     4       573999       722381      4  ...        197  54     116       244295.5
4     5       691388       811335      6  ...        160  53     105       531114.5

[5 rows x 12 columns]

In [118]:
X = df.copy()

In [119]:
X.head()

   v.id  on road old  on road now  years  ...  top speed  hp  torque  current price
0     1       535651       798186      3  ...        177  73     123       351318.0
1     2       591911       861056      6  ...        148  74      95       285001.5
2     3       686990       770762      2  ...        181  53      97       215386.0
3     4       573999       722381      4  ...        197  54     116       244295.5
4     5       691388       811335      6  ...        160  53     105       531114.5

[5 rows x 12 columns]

In [120]:
del X['v.id']
del X['current price']
del X['hp']
del X['torque']
del X['rating']

In [121]:
X.head()

   on road old  on road now  years      km  condition  economy  top speed
0       535651       798186      3   78945          2       14        177
1       591911       861056      6  117220          9        9        148
2       686990       770762      2  132538          8       15        181
3       573999       722381      4  101065          3       11        197
4       691388       811335      6   61559          9       12        160

In [122]:
y = df.iloc[: , 11]

In [123]:
y.head()

0    351318.0
1    285001.5
2    215386.0
3    244295.5
4    531114.5
Name: current price, dtype: float64

In [130]:
# Splitting the dataset into test train sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [131]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [132]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [133]:
from sklearn.metrics import r2_score, mean_squared_error
score=r2_score(y_test,y_pred)

In [134]:
print(score)

0.9956226928287942

In [135]:
y_test.size

200

In [136]:
y_pred.size

200

In [137]:
# finding the RMSE of the model with 20% of the train dataset as test

import math

from sklearn.metrics import mean_squared_error

actual = y_test
predicted = y_pred
mse = mean_squared_error(actual, predicted)
rmse = math.sqrt(mse)
print(rmse)

7836.22451522951